.ppage{
    height: 70vh;  
}

.ducts{
    background-color: rgb(212, 209, 209);
}

.all{
    color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.all img{
    border-radius: 1rem;
    height: 30vh;
    width: 100%;
    border: 3px solid black;
}

.all .cont{
    transition: transform 0.3s ease;
    color: black!important;
    padding: 8px;
    background-color: rgb(212, 209, 209);
    border-radius: 1rem;
}

.all .cont:hover {
    transform: scale(1.05);
    cursor: pointer;
    border: 3px solid crimson;
    border-radius: 1rem;
}

.product-page .path{
    color: crimson!important;
}

.product-page .para{
    color: crimson!important;
}

@media (max-width: 650px){
    .all .cont{
        width: 50rem;
    }
}
