.aus{
    background-color: rgba(238, 232, 232, 0.736);
}

@media (max-width: 490px) {
    .headin{
        font-size: 2rem;
    }

    .mai{
        padding: 0 10px!important;
    }

    .data{
        font-size: 1rem!important;
    }

    .data, li{
        font-size: 1rem;
        line-height: 1.5;
    }

    .data ul{
        width: 80%;
    }
}