.frm{
    height: 75vh;
    padding-bottom: 3rem;
    background-color: var(--white);
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.feedform{
    height: 55vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    color: var(--white);
    margin-bottom: 3rem;
}

.feedform .message{
    width: 50%;
}

.feedform button{
    background: crimson;
    color: white;
    font-weight: 600;
    font-size: 1.4rem;
    padding: 7px 40px;
    border-radius: 2rem;
}



@media (max-width: 705px){
    .frm{
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

@media (max-width: 505px){
    .frm{
        width: 100vw;
    }
    box{
        width: 100vw!important;
    }
}


